name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "14.x"
          cache: "npm"

      - run: npm ci
      - run: NODE_ENV=production npm run build

      - name: Deploying to IBM Cloud
        uses: carbon-design-system/action-ibmcloud-cf@v1.3.0
        with:
          cloud-api-key: ${{ secrets.IBMCLOUD_API_KEY }}
          cf-org: ${{ secrets.IBMCLOUD_CF_ORGANIZATION }}
          cf-region: us-south
          cf-space: pwa-lit-template
          cf-app: pwa-lit-template
          cf-manifest: manifest.yml
          deploy-dir: server
